﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marcius Bezerra<br />
    Rua Israel Bezerra, 1057 - Fortaleza - Ceará<br />
    <abbr title="Phone">P:</abbr>
    (85) 9 8855-9171
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:marciusbezerras@outlook.com">marciusbezerra@outlook.com</a><br />
</address>