﻿@model SefazXmlImporter.Models.ProcessNfe
@{
    ViewBag.Title = "Home Page";
}

<h1>SEFAZ NFE</h1>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ProcessaNfe", "Home", FormMethod.Post))
        {
            <hr />
            if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Erro!</strong> @TempData["Error"]
                </div>
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NfNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NfNumber, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 10px" } })
                    @Html.ValidationMessageFor(model => model.NfNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.CaptcharSom)

            @Html.HiddenFor(model => model.Token)

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <img src="@Model.CaptcharImg" style="margin-bottom: 10px" /><br />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CaptcharTxt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CaptcharTxt, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 10px" } })
                    @Html.ValidationMessageFor(model => model.CaptcharTxt, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.ViewState)
            @Html.HiddenFor(model => model.ViewStateGenerator)
            @Html.HiddenFor(model => model.EventValidation)
            <br /><br />
            <button type="submit" class="btn btn-default" style="margin-top: 20px; width: 250px" value="Enviar">Gerar XML</button>
        }
    </div>
</div>