﻿@model SefazXmlImporter.Models.ProcessNfe
@{
    ViewBag.Title = "ProcessaNfe";
}

<h2>Xml da Nota Fiscal</h2>

@using (Html.BeginForm("DownloadXml", "Home"))
{
    @Html.HiddenFor(m => m.NfNumber)
    <fieldset>
        <legend>Resultado do Processamento</legend>
        <p>
            Nota Fiscal:
            @Html.Encode(Model.NfNumber)
        </p>
        <p>
            Captchar:
            @Html.Encode(Model.CaptcharTxt)
        </p>
        <p>
            Xml:
            @Html.TextAreaFor(m => m.Xml, new { @class = "form-control whatever-class" })
        </p>
    </fieldset>
    <br />
    <button type="submit" class="btn btn-default" value="Enviar">Baixar XML</button>
    @Html.ActionLink("Voltar", "Index")
}
@section styles {
    <link href="~/Scripts/codemirror-2.37/lib/codemirror.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Scripts/codemirror-2.37/lib/codemirror.js"></script>
    <script src="~/Scripts/codemirror-2.37/mode/xml/xml.js"></script>

    <script>
        var edargs = {
            lineNumbers: true,
            matchBrackets: true,
            tabMode: 'shift',
            indentUnit: 2
        };

        var editor = CodeMirror.fromTextArea(document.getElementById('Xml'), edargs);
        editor.setSize(900, 500);
    </script>
}
